@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

:root{
    --font: 'Inter', 'Montserrat', Georgia, 'Times New Roman', Times, serif;
    --special-font : 'Playfair Display', 'Montserrat', Georgia, 'Times New Roman', Times, serif;
    --shadow: 0px 2px 2px hsla(0, 0%, 0%, 0.07), 0px 4px 4px hsla(0, 0%, 0%, 0.15);
    --spe-btn-padding: 0.5rem 1rem 0.7rem 1rem;
    /********* THEME COLORS **********/
    --bg-dark: hsl(220, 3%, 90%);
    --bg: hsl(220, 3%, 95%);
    --bg-light: hsl(220, 3%, 100%);
    --text: hsl(220, 3%, 5%);
    --text-muted: hsl(220, 3%, 30%);
    --text-muted-light: hsl(220, 3%, 75%);
    --border: hsl(220, 3%, 30%);
}

/* Normalize perso */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 16px;
    scroll-behavior: smooth;
    /* Definition de mon rem et du scroll-behaviour smooth partout */
}
html, body{
    height: 100%;
}
body{
    background-color: var(--bg);
    color: var(--text);
    font-family: var(--font);
}
button{
    cursor: pointer;
    outline: none;
    background-color: inherit;
    color: inherit;
    border: none;
    transition: scale 0.1s ease;
    font-family: inherit;
    font-size: inherit;
    scale: 1;
}
ul li{
    list-style-type: none;
}
a{
    color: inherit;
    text-decoration: none;
}
input, select, textarea{
    outline: none;
    border: none;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
}

/* Scrollbars */
/* Pour WebKit (Chrome, Safari, Edge) */
*::-webkit-scrollbar {
  width: 6px;
  height: 6px; /* Pour scroll horizontal */
}

*::-webkit-scrollbar-track {
  background: #eee;
}

*::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
}

/* Pour Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #888 #eee;
}

/****************/
/* Le container (#root) */
#root {
  /* max-width: 1440px; */
  height: 100%;/* Very important for relatives values */
  min-height: 100%;
  margin: 0 auto;
}


