:root{
    --accent: purple;
    --accent-light: rgb(193, 0, 193);
    --second: rgb(255, 82, 20);
}

.container{
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 1rem;
}

.promo-box{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--text);
    color: var(--bg-light);
    height: 3.25rem;
}
.promo-box .container{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.promo-box .promo-first span:first-child{
    display: inline-block;
    background-color: var(--bg);
    color: var(--text);
    padding: 0.5rem 0.5rem;
    transform: rotate(-5deg);
    font-weight: bold;
}
.promo-box .promo-first span:nth-child(even){
    color: white;
    font-weight: bold;
}
.promo-box .promo-second{
    display: flex;
    align-items: center;
    font-size: 0.8rem;
}
.promo-box .promo-second span:nth-child(2){
    color: var(--accent-light);
    font-weight: bold;
    font-size: 1.25rem;
}
.promo-box .promo-second span:nth-child(3){
    font-size: 1rem;
}
.promo-box .promo-third .btn-shop{
    background-color: var(--accent-light);
    padding: 0.5rem 1rem;
    border-radius: 4px;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 0.25rem;
}


.header-box{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-light);
    color: var(--text);
}
.header-box .container{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
.header-box .header-first{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    color: var(--accent);
    font-weight: bolder;
    font-size: 1.5rem;
}
.header-box .header-first img{
    width: 2.5rem;
    height: 2.5rem;
}
.header-box .header-second{
    flex: 1;
    background-color: var(--bg-dark);
    color: black;
    padding: 0.25rem 0.25rem;
    border-radius: 2rem;
    width: 500px;
    height: 3.5rem;
    display: flex;
}
.header-box .header-second div{
    min-height: 100%;
    display: flex;
    align-items: center;
}
.header-box .header-second button{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    height: 100%;
    aspect-ratio: 1;
    background-color: var(--accent-light);
    color: white;
    box-shadow: 1px 1px 5px rgb(0, 0, 0, 0.5);
    font-size: 1.25rem;
}
.header-box .header-second button:hover{
    background-color: var(--accent-light);
}
.header-box .header-second input{
    display: inline-block;
    flex: 1;
    padding: 0 1.5rem;
    font-size: 1rem;
}
.header-box .header-second input::placeholder{
    color: var(--text-muted);
}
.header-box .header-third{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.header-box .header-third button, .header-box .header-third button img{
    width: 2.75rem;
    aspect-ratio: 1;
    border-radius: 50%;
}
.header-box .header-third button{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.25rem 0;
    width: 2.75rem;
    aspect-ratio: 1;
    border: 1px solid var(--bg-dark);
}
.header-box .header-third button svg{
    width: 1.75rem;
    height: 1.75rem;
}
.header-box .header-third button:hover{
    background-color: var(--bg-dark);
}
.header-box .header-third button:last-child{
    border: none;
    padding: 0;
}
.header-box .header-third button:last-child:hover{
    background-color: transparent;
}
.header-box .header-third .btn-cart{
    position: relative;
}
.header-box .header-third .btn-cart .nb-cart{
    border-radius: 50%;
    aspect-ratio: 1;
    width: 1.75rem;
    padding: 0.25rem;
    background-color: var(--accent);
    color: white;
    font-weight: bold;
    position: absolute;
    top: -25%;
    right: -30%;
}


.menu-box{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-light);
    color: var(--text);
    height: 2rem;
}
.menu-box .container{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}
.menu-box .menu-first nav{
    display: flex;
    align-items: center;
    gap: 1.5rem;
}
.menu-box .menu-first nav a:hover{
    color: var(--accent);
}
.menu-first nav .active-link{
    position: relative;
    color: var(--accent);
    font-weight: bold;
}
.menu-first nav .active-link::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 2px;
    width: 100%;
    background-color: var(--accent);
}


/* Footer Section */
footer{
    background-color: hsl(220, 3%, 10%);
    color: hsl(220, 3%, 95%);
}
footer .container{
    padding-top: 3.5rem;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

footer .newsletter-box{
    display: flex;
    gap: 2rem;
}
footer .newsletter-box .newsletter-info{
    flex: 1.75rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
footer .newsletter-box .newsletter-info .newsletter-title{
    font-size: 2rem;
    font-weight: bold;
}
footer .newsletter-box .newsletter-info .newsletter-text{
    font-size: 1rem;
}
footer .newsletter-box .newsletter-form{
    flex: 1;
    display: flex;
    align-items: center;
    gap: 1rem;
}
footer .newsletter-box .newsletter-form input{
    flex: 1;
    display: inline-block;
    padding: 0.5rem 1rem;
    border: 2px solid white;
    border-radius: 2px;
    font-size: 0.9rem;
    height: 3rem;
}
footer .newsletter-box .newsletter-form input::placeholder{
    color: hsl(220, 3%, 70%);
}
footer .newsletter-box .newsletter-form button{
    height: 3rem;
    min-width: 120px;
    background-color: var(--accent-light);
    border-radius: 2rem;
    font-weight: bold;
    padding: 0 2rem;
}

footer .footer-box{
    display: flex;
    gap: 2rem;
    font-size: 0.95rem;
}
footer .footer-box > div{
    flex: 1;
}
footer .footer-box .general-box{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1.5rem;
}
footer .footer-box .general-box .general-title{
    font-weight: bold;
    font-size: 2.2rem;
    color: var(--accent-light);
}
footer .footer-box .general-box .btn-general-discover{
    background-color: white;
    color: black;
    padding: 1rem 1.5rem;
    font-weight: bold;
    font-size: 1rem;
}
footer .footer-box .general-box .btn-general-discover:hover{
    color: white;
    background-color: var(--accent-light);
}
footer .footer-box .links-box .links-title{
    font-weight: bold;
    margin-bottom: 1rem;
    font-size: 1rem;
}
footer .footer-box .links-box .useful-links{
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}
footer .footer-box .links-box .useful-links a:hover{
    color: var(--accent-light);
    text-decoration: underline;
}
footer .footer-box .infos-box .infos-title{
    font-weight: bold;
    margin-bottom: 1rem;
    font-size: 1rem;
}
footer .footer-box .infos-box .contact-infos{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
footer .footer-box .infos-box .contact-infos i{
    color: var(--accent-light);
}

footer .end-box{
    display: flex;
    justify-content: space-between;
    color: var(--text-muted-light);
    position: relative;
    padding: 1.5rem 0;
}
footer .end-box::before{
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 1px;
    width: 100%;
    background-color: var(--text-muted);
}
footer .end-box .social-box a:hover{
    color: var(--accent-light);
}
footer .end-box .payment-box{
    display: flex;
    justify-content: center;
    gap: 0.5rem;
}
footer .end-box .payment-box img{
    width: 3rem;
    aspect-ratio: 2.5;
    border-radius: 2px;
}
footer .end-box .copyright-box{
    font-size: 0.85rem;
}


body main{
    margin: 2rem 0;
}